.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 274px;
    text-align: center;
}
.form h3{
    color: #1E1E1E;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}
.form input{
    width: 274px;
    height: 51px;
    border-radius: 3px;
    background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
    border: none;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form input::placeholder{
    text-align: center;
    color: #818181;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form input[type="checkbox"]:checked{
    position: relative;
    background: #818181;
    width: 12px;

}
.form input[type="checkbox"]{
    width: 12px;
}
.form div{
    display: flex;
    color: #818181;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}
.form div a{
    color: #818181;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
}

.form button{
    width: 274px;
    height: 51px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: linear-gradient(90deg, #1E34F5 0%, #3E83E7 100%);
    color: #FFF;
    font-size: 18px;
}
.form a{
    color: #323232;
    font-size: 16px;
    text-decoration-line: underline;
}
.form a:visited{
    color: #323232;
}