.form-auth{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 274px;
    text-align: center;
}
.form-auth h3{
    color: #1E1E1E;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}
.form-auth input{
    width: 274px;
    height: 51px;
    border-radius: 3px;
    background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
    border: none;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-auth input::placeholder{
    text-align: center;
    color: #818181;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-auth button{
    width: 274px;
    height: 51px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: linear-gradient(90deg, #1E34F5 0%, #3E83E7 100%);
    color: #FFF;
    font-size: 18px;
}
.form-auth a{
    color: #323232;
    font-size: 16px;
    text-decoration-line: underline;
}
.form-auth a:visited{
    color: #323232;
}
